.featured-articles .article-block{
    padding-right: 15px;
}
.article-footer .view-similar,
.article-footer .hide-similar{
    float: right;
    margin-right: 5px;
}

.article-footer a.hide-similar{
    display: none;
}

.article-footer a.view-similar,
.article-footer a.hide-similar{
    font-size: 12px;
    color: #bbb;
    text-decoration: none;
}

.article-footer a.view-similar:hover,
.article-footer a.hide-similar:hover{
    color: #999;
}
.article-footer .similar{
    float: right;
    width: 24px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    margin-top: -3px;
    background: 0 -2px url(../images/similar_circle.png) no-repeat;
}

.article-footer .similar-0{
    background: 0 -2px url(../images/similar_circle_0.png) no-repeat;
}
.article-footer .similar-1{
    background: 0 -2px url(../images/similar_circle_1.png) no-repeat;
}
.article-footer .similar-2{
    background: 0 -2px url(../images/similar_circle_2.png) no-repeat;
}

.article-footer{
    margin-bottom: 15px;
    line-height: 20px;
}

.article-similar{
    margin-top: 5px;
    font-size: 13px;
    color: #666;
    border-bottom: 1px solid #ccc;
    display: none;
    padding-bottom: 5px;
}

.related-article-keywords{
    margin: 5px 0 5px 70px;
}

.related-article-keyword,
.matched-keyword{
    display: inline;
    background: #333;
    padding: 3px 7px;
    border-radius: 7px;
    color: white;
    font-size: 12px;
    margin: 0 2px;
    white-space: nowrap;
    line-height: 25px;
}

.matched-keyword{
    background: #777;
    color: white;
    line-height: 30px;
    margin: 0 3px 0 0;
}

.rank {
    margin-top: 3px;
}

.rank span{
    display: none;
}

.related-link-ie{
    display: none;
}


div.article{
    position: relative;
}


div.article .overlay a:hover{
    color: #18E;
}

div.article .overlay a{
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 1.1em;
}

div.article .overlay{
    position: absolute;
    bottom: 0px;
    display: none;
    height: 30px;
    background: #CCC;
    background: rgba(0,0,0,0.6);
    width: 100%;
    left: 0;
}
div.article .show{
    display: block !important;
}

div.article .overlay .goto, div.article .overlay .related-button {
    padding: 5px 0 0 10px;
    position: relative;
    display: block;
    float: left;
}

div.article .overlay .goto{
    margin-left: 120px;
}

div.article .overlay .related-button{
    margin-left: 50px;
}


.tab-content{
    overflow: visible;
}

.box h1,
.box h2,
.box h3,
.box h4,
.box h5,
.box h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

.box .span1,
.box .span2,
.box .span3,
.box .span4,
.box .span5,
.box .span6{
    margin: 0;
}

.box{
border: 1px solid #DEDEDE;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
margin-bottom: 20px ;
box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
-webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
-moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header{
border:none;
padding-top:5px;
border-bottom: 1px solid #DEDEDE;
border-radius:3px 3px 0 0;
-webkit-border-radius:3px 3px 0 0;
-moz-border-radius:3px 3px 0 0;
height:12px;
min-height:12px;
margin-bottom: 0;
cursor:move;
font-weight:bold;
font-size:16px;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1a000000',GradientType=0 );

}

.box-header h2{
font-size:15px;
width:auto;
clear:none;
float:left;
line-height:25px;
}
.box-header h3{
font-size:13px;
width:auto;
clear:none;
float:left;
line-height:25px;
}
.box-header h2 > i{
margin-top:1px;
}
.box-icon{
float:right;
}
.box-icon a{
clear:none;
float:left;
margin:0 2px;
height: 18px;
width:5px;
margin-top: -1px;
}
.box-icon a i{
margin-left:-4.5px;
}
.box-content{
padding:10px;
}

@media (min-width: 768px) and (max-width: 979px) {
.box-icon{
    display:none;
}
.box-header h2{
    font-size:13px !important;
}
.box-header h3{
    font-size:11px !important;
}

.box-content .nav-tabs{
margin-right:-10px;
margin-left:-10px;
}

.box-content.buttons{
min-height:297px;
}

/*------ End Box Section -------*/



div.minimize fieldset{
    height: 100px;
    overflow: hidden;
}

#queue div.empty{
    display: none;
}

fieldset{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
}

fieldset legend{
    border: none;
    width: auto;
    margin: 0 0 0 3px;
    font-size: 14px;
    padding: 0 2px;
}

fieldset .table td{
    border-top: none;
}

.state_0{
    font-weight: bold;
}

.progress{
    margin: 0;
}

table tr.disabled td{
    background-color: #ccc !important;
    color: #fff !important;
}

.btn.greyed{
    background-color: #E6E6E6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 40px;
/*  background-color: #fff;
  background-image: url(../img/grid-18px-masked.png);*/
  background-repeat: repeat-x;
  background-position: 0 40px;
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}


/* Specific jumbotrons
------------------------- */
/* supporting docs pages */
.subhead {
  padding-bottom: 0;
  margin-bottom: 9px;
}
.subhead h1 {
  font-size: 54px;
}

/* Subnav */
.subnav {
  margin-bottom: 60px;
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}

.bsa {
  float: right;
  max-width: 400px;
  padding: 0;
}

body .one .bsa_it_ad {
  margin-bottom: -10px;
  background: none;
  border: none;
  font-family: inherit;
  color: inherit;
}

body .one .bsa_it_ad .bsa_it_t,
body .one .bsa_it_ad .bsa_it_d {
  color: inherit;
  font-size: inherit;
}

body .one .bsa_it_p {
  display: none;
}

#bsap_aplink {
  float: right;
  position: relative;
  /*top: -25px;*/
  right: 10px;
  height: 0;
  font-size: 11px;
}

@media (max-width: 768px) {

  .bsa {
    float: none;
  }

}


/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {

  /* Reduce padding above jumbotron */
  body {
    padding-top: 70px;
  }

  /* Adjust the jumbotron */
  .jumbotron h1,
  .jumbotron p {
    text-align: center;
    margin-right: 0;
  }
  .jumbotron h1 {
    font-size: 45px;
    margin-right: 0;
  }
  .jumbotron p {
    margin-right: 0;
    margin-left: 0;
    font-size: 18px;
    line-height: 24px;
  }
  .jumbotron .btn {
    display: block;
    font-size: 18px;
    padding: 10px 14px;
    margin: 0 auto 10px;
  }

}


@media (max-width: 768px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Jumbotron buttons */
  .jumbotron .btn {
    margin-bottom: 10px;
  }

  /* Subnav */
  .subnav {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    background: #fff; /* whole background property since we use a background-image for gradient */
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .subnav .nav > li {
    float: none;
  }
  .subnav .nav > li > a {
    border: 0;
  }
  .subnav .nav > li + li > a {
    border-top: 1px solid #e5e5e5;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
      -webkit-border-radius: 4px 4px 0 0;
         -moz-border-radius: 4px 4px 0 0;
              border-radius: 4px 4px 0 0;
  }
}


@media (min-width: 480px) and (max-width: 768px) {

  /* Scale down the jumbotron content */
  .jumbotron h1 {
    font-size: 54px;
  }
  .jumbotron p {
    margin-right: 0;
    margin-left: 0;
  }
}


@media (min-width: 768px) and (max-width: 980px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

  /* Scale down the jumbotron content */
  .jumbotron h1 {
    font-size: 72px;
  }
}


@media (max-width: 980px) {

  /* Unfloat brand */
  .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

  /* Update subnav container */
  .subnav-fixed .nav {
    width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
  }
}
