body{
	background-color: #000;
}

/*Jquery Dialog*/
.ui-dialog{
	font-size: 70% !important;
}
.ui-dialog h4{
	font-size: 14px\9 !important;
}
.ui-dialog-title{
	line-height: 20px!important;
	float: left\9;
}
.ui-dialog-titlebar-close{
	float: right !important;
	margin-right: 2px !important;
}
.ui-dialog ul{
	padding-left: 20px;
}
.ui-widget-overlay{
	background: #000!important;
	opacity:0.5 !important;
	filter:alpha(opacity=50)!important; 
}
.ui-dialog-content{
	padding: 4px !important;
}
.ui-dialog-content li{
	margin-bottom: 5px;
}
.ui-dialog-content strong, .ui-dialog-content a{
	color: #225588 !important;
}
/* --News Content-- */
#newsContent{
	margin-top: 20px;
}
.result{
	min-height: 300px;
}
.stories{
	width: 850px;
	margin: auto;
}
.hide{
	opacity:0.2 !important;
	filter:alpha(opacity=20)!important; 
}
.story.hide.hover{
	opacity:0.6 !important;
	filter:alpha(opacity=60)!important; 
}
#newsContent .story.ui-draggable{
	cursor: move;
}
#newsContent .window { 
	opacity:0.99; 
	filter:alpha(opacity=99); 
	z-index:20; 
	display:block;
	float: left;
	font-family:helvetica;
	font-size:11px;
	overflow: hidden;
	background: url(images/story_bg.png) no-repeat;
	height: 207px;
	width: 170px;
}
.window.story .body{
	color: #000;
	height: 140px;
	margin: 5px 12px;
	font-size: 11px;
	overflow: hidden;
}
.window.story .source{
	position: absolute;
	top: 178px;
	left:12px;
}
.window.story .title{
	margin: 10px 15px 0 12px;
}
.window.story .title a{
	text-decoration: none !important;
	font-weight: bold !important;
	font-size: 12px !important;
	color: #cacaca;
}
.window.story a:hover{
	text-decoration: underline !important;
}
#newsContent div h1{
	font-size: 12px;
}
#newsfeeds ul{
    margin: 0px;
    padding: 0px;
}
#newsfeeds ul li{
    display: block;
}
.newsfeeds{
    float:left;
    width: 200px;
}
.newsfeeds .button{
    float: right;
}
.break {
clear:both;
height:10px;
}
/*Key words*/
.xmpl {
	padding: 10px 15px 10px 15px !important;
	background-color: #000 !important;
	border: none !important;
}
table.xmpl {
	padding: 0px !important;
}
ul.xmpl {
	padding: 5px 15px 5px 30px !important;
	width:1000px !important;
    margin:0px auto !important;
}
.xmpl th {
	background-color: #F8E78C !important;
	border: 0px !important;
}
#delicious {
	display: none;
}
.xmpl li a {
	text-decoration: none !important;
}
.xmpl li a:hover {
	text-decoration: underline !important;
}
.xmpl li {
	z-index: 100 !important;
	cursor: pointer !important;
	text-transform: capitalize !important;
}
.xmpl li:hover {
	z-index: 100 !important;
}
ul.xmpl, ol.xmpl {
	height: 160px;
	overflow: visible;
	padding: 5px !important;
}
/*Other*/
#facebookIcon{
	position: fixed;
	margin: 0;
	padding: 0;
	top: 200px;
	left: 0px;
	z-index: 99999;
	color: #fff;
	width: 90px;
	height: 102px;
	background-image: url(images/facebook_comments.png);
	background-color:#fff;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    /*opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);*/
}
