fieldset a, 
fieldset a:visited, 
fieldset a:link{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
	
fieldset legend{
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	margin-left: 50px;
	padding: 0 5px;
	font-family: serif;
}
	
fieldset span a{
	text-decoration: none;
}
	
fieldset{
	margin: 0 25px 0 40px;
	padding: 10px;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

	
fieldset span, 
fieldset article, 
fieldset article-content, 
fieldset article-footer{
	display: block;
	padding: 5px;
}
	
#search-latest,
#search-results{
	color: #fff;
}
	
#search-results a{
	color: #18E;
}
	
#search-results article-footer a,
#search-results article-footer a:link,
#search-results article-footer a:visited{
	color: #A8D3F8;
}

#search-results fieldset div{
	width: 600px;
}

#search-results span{
	color: #317AB9;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

#search-results article-content{
	color: #fff;
}

#search-results span{
	padding-bottom: 0;
	font-size: 13px;
}
	
#search-results article-content{
	padding-top: 2px;
	font-size: 13px;
}
	
#search-latest{
	padding-top: 10px;
	margin-bottom: 20px;
}
	
#search-latest fieldset label a
{
	color: #000;
}

#search-latest article-footer a,
#search-latest article-footer a:link,
#search-latest article-footer a:visited{
	color: #18E;
	text-decoration: none;
}
	

#search-latest article-content, 
#search-latest article-content a{
	font-size: 1em;
	color: #333;
}
	
#search-latest article-content{
	height: 120px;
	padding: 5px;
	#font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 1.1em;
	font-style: italic;
}
	
#search-latest article-footer{
	width: 100%;
	color: #777;
}
	
#search-results article-footer{
	padding-top: 0;
}

#search-latest label:hover {
	background: #C6E1EC;
	color: #3D7489;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1);
}
	
#search-latest fieldset label{
	height: 25px;
	line-height: 25px;
	color: #333;
	font-size: 1.1em;
}
		
#search-latest fieldset article{
	display: block;
	float: left;
	width: 224px;
	border: 1px solid #CCC;
	padding: 0;
	margin-right: 2px;
	background: #ebeef3 url(/static/images/bgnoise_lg.jpg);
}
	
#search-string{
	font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-style: italic;
	color: #fff;
	padding: 10px 0 0 60px;
}
	
#search-pagination{
	padding-left: 60px;
}
	
#search-pagination a.active,
#search-pagination a:hover,
#search-pagination a.active:hover{
	color: #fff;
	background: #4F97BD;
	text-shadow: none;
	box-shadow: none;
}
	
#search-pagination a:hover{
	background: #79bbdd;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(83,140,170, 0.4);
}
	
#search-pagination a.elipses{
	background: none;
	color: #fff;
	box-shadow: none;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
	padding: 0 5px;
}
	
#search-pagination a{
	padding: 5px 10px;
	text-decoration: none;
	display: inline;
	color: #000;
	text-shadow: 1px 1px 1px rgba(255, 255,255,0.8);
}
	
#container{
	min-height: 600px;
}