global
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice
    maxconn 4096
    user ubuntu
    group ubuntu
    stats socket ./tmp/haproxy.sock

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  redispatch
    option  forwardfor
    option  httpclose
    option  httpchk GET /health/
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    maxconn 2000
    retries 3
    stats   enable
    stats   uri     /haproxy?stats
    stats   realm   Newsconnector\ Haproxy\ Statistics
    stats   auth    haproxy:stats

frontend newsworld-http-in
    bind *:7720
    default_backend newsworld-backend

frontend dinein-http-in
    bind *:7820
    default_backend dinein-backend

backend newsworld-backend
    server newsworld_backend1 127.0.0.1:7721
    #server newsworld_backend1 127.0.0.1:7721 weight 1 check maxconn 500
    #server newsworld_backend2 127.0.0.1:7722 weight 1 check maxconn 500
    #server newsworld_backend3 127.0.0.1:7723 weight 1 check maxconn 500
    #server newsworld_backend4 127.0.0.1:7724 weight 1 check maxconn 500

backend dinein-backend
    server dinein_backend1 127.0.0.1:7821
