<article {% if forloop.first %}class="first-article"{% endif %}>
    {% if article.image_url %}
    <img src="{{article.image_url}}" width="64px"/>
    {% else %}
    <img src="{{STATIC_URL}}images/news2.png" width="64px"/>
    {%endif%}
    <article-content>
        <span><a target="_blank" href="{{article.link}}">{{article.title}}</a></span>
        <br/>
        {{article.content}}
        <br/>
        <article-footer>
            {{article.date}} |
            <a target="_blank" href="{{article.link}}">{{article.source}}</a>
        </article-footer>
    </article-content>
    <div class="overlay">
        <a class="goto" target="_blank" href="{{article.link}}">{{article.source}}</a>
        <a class="related-button" target="_blank" href="{% url related article.hash_key %}">View Related</a>
    </div>
    <br style="clear:both"/>
</article>
