<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>News World</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/new_style.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">News World</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="{% url haystack_search %}">
            <input type="text" class="form-control" placeholder="Search..." name='q' {% if query %}value="{{query}}"{% endif %}>
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul id="tabs" class="nav nav-sidebar">
              <li class="tabs-news active"><a href="#tabs-news">Local News</a></li>
              <li class="tabs-finance"><a href="#tabs-finance">Financial</a></li>
              <li class="tabs-sports"><a href="#tabs-sports">Sports</a></li>
              <li class="tabs-entertainment"><a href="#tabs-entertainment">Entertainment</a></li>
          </ul>
          </ul>
          <div class="footer">
            &copy; TonyM productions {% now "Y" %}
          </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{STATIC_URL}}scripts/jquery/jquery.1.7.min.js"></script>
<script src="{{STATIC_URL}}scripts/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}scripts/newsworld.js"></script>
<script src="{{STATIC_URL}}scripts/date.js"></script>
<script src="{{STATIC_URL}}scripts/jquery.infinitescroll.js"></script>
<script type="text/javascript">
$(function(){
    $('.sidebar #tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      $('#tabs-news .articles, #tabs-sports .articles, #tabs-finance .articles, #tabs-entertainment .articles,').infinitescroll('pause');
      var href = $(this).attr('href');
      $(href+' .articles').infinitescroll('resume');
      jQuery('html, body').animate({scrollTop: 0}, 500);
    });

    $('#tabs-sports .articles, #tabs-finance .articles, #tabs-entertainment .articles,').infinitescroll('pause');
});
</script>
  </body>
</html>
