<html lang="en">
<head>
<title>Home :: News Connector</title>

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}scripts/jquery/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}scripts/jquery/jquery.ui.1.8.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}scripts/jquery.pajinate.min.js "></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}scripts/date.js"></script>
{% block head %}
{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
<script type="text/javascript">
{% block js %}
{% endblock %}
</script>
</html>
