{% extends "base.html" %}

{% block head %}
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}scripts/newsworld.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/read.css?v=1" />
{% endblock %}

{% block content %}
<fieldset>
    <legend> Results for &ndash; &ldquo;{{q}}&rdquo;</legend>
    <div id="search-results">
        <div>
        {% for n in news %}
        {% include "article_block.html" with article=n %}
        {% endfor %}
        <br style="clear:both"/>
        </div>
    </div>
</fieldset>

<div id="search-pagination">
	{% if paged_news.has_previous %}
	<a href="?q={{q}}&page={{ paged_news.previous_page_number }}">&lt;</a>
	{% endif %}
	{% if show_first %}
	<a href="?q={{q}}&page=1" {% if paged_news.number == 1 %}class="active"{%endif%}>1</a>
	<a class="elipses">...</a>
	{% endif %}
	{% for i in pages %}
	<a href="?q={{q}}&page={{ i }}" {% if paged_news.number == i %}class="active"{%endif%}>{{i}}</a>
	{% endfor %}
	{% if show_last %}
	<a class="elipses">...</a>
	<span class="page"><a href="?q={{q}}&page={{paged_news.paginator.num_pages}}">{{ paged_news.paginator.num_pages }}</a></span>
	{% endif %}
	{% if paged_news.has_next %}
	<a href="?q={{q}}&page={{ paged_news.next_page_number }}">&gt;</a>
	{% endif %}
</div>
{% endblock %}

{% block js %}

$(document).ready(function(){
	//$('#article-details').pajinate();
});

{% endblock %}
