<div class="featured-articles">
    <h1><text>Featured</text></h1>
    {% for art, count in articles %}
    {% with a=art.article %}
    <div class="featured-article">
        <h2><label><a target="_blank" href="{{a.link}}">{{a.title}}</a></label>
            {% if a.image_url %}
            <img src="{{a.image_url}}" height="58px"/>
            {% else %}
            <img src="/static/images/news2.png" height="58px"/>
            {% endif %}
            </h2>
            <br style="clear:both"/>
        <div class="main">
            {{ a.content }}
            <br/>
            <a target="_blank" href="{{a.link}}">Full story...</a>
        </div>
        <div class="related">
        <ul>
        {% for s in art.related %}
        <li>
        <a target="_blank" href="{{s.link}}">{{s.title}}</a>
        </li>
        {% endfor %}
        </ul>
        </div>
        <br style="display:block; clear:both"/>
    </div>
    {% endwith %}
    {% endfor %}
</div>
<br style="clear:both"/>
