{% extends "base.html" %}

{% block head %}
<style>	
#footer{
	width: 99%;
	bottom: 10;
	color: #fff;
	position: absolute;
	font-family: 'Century Gothic', 'AppleGothic', sans-serif;
	text-align: center;
	font-size: 30px;
}
	
#footer-sites{
	width: 99%;
	bottom: 0;
	color: #fff;
	position: absolute;
	font-family: 'Century Gothic', 'AppleGothic', sans-serif;
	text-align: center;
	font-size: 10px;
	border-top: 1px solid #fff;
	overflow: hidden;
	height: 15px;
}
#footer-sites a{
	color: #fff;
	text-decoration: none;
}
</style>	
	
<script type="text/javascript" src="{{STATIC_URL}}scripts/jQRangeSlider-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}scripts/jQDateRangeSlider-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}scripts/jquery.tagcloud.min.js "></script>
<script type="text/javascript" src="{{STATIC_URL}}scripts/jquery.pajinate.min.js "></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}scripts/graph.js"></script>
{% endblock %}

{% block content %}
<div id="keys">
</div>
<div id="date-slider-cont"><div id="date-slider"></div></div>

<div id="browse-search">
	<div id="search-string">
		{{query_string}}
	</div>
	<div id="search-form">
	<form action="{% url browse %}">
	<input type="search" name="q" id="filter" results=5 autofocus placeholder="Filter or Search..." value="{{q}}"/>
	<input type="submit" id="search" value="Search"/>
	</form>
	</div>
</div>

<div id="cat-nav">
	<a href="http://newsworld.co.za" id="cat-news" {% if id == 1 %}class="active"{%endif%}>News</a>
	<a href="http://sports.newsworld.co.za" id="cat-sports" {% if id == 2 %}class="active"{%endif%}>Sports</a>
	<a href="http://finance.newsworld.co.za" id="cat-finance" {% if id == 3 %}class="active"{%endif%}>Finance</a>
	<a href="http://entertainment.newsworld.co.za" id="cat-entertainment" {% if id == 4 %}class="active"{%endif%}>Entertainment</a>
	{% if request.user.is_authenticated %}
	 <a href="{% url logout %}" id="logout">Sign Out</a>
	{% else %}
	 <a href="/admin/?next={{request.path}}" id="login">Sign In</a>
	{% endif %}
</div>

<!-- Codrops top bar -->
<section class="ac-container" id="article-header">
	<div class="h1"><label>{{title}} <br/><small>{{latest.0.date|date:"D, d M H:m"}}</small></label></div>
</section>
<section class="ac-container" id="article-details">
	<div class='content'>
	{% for a in latest %}
		<div>
			<input id="ac-{{a.pk}}" name="accordion-1" type="radio"/>
			<label for="ac-{{a.pk}}">{{a.title}}</label>
			<article class="ac-small">
				<p>[{{a.source}}] - {{a.date|date:"D, d M H:m"}}<br/>
					{{a.content}}
					<a target="_blank" href="{{a.link}}">more...</a>
				</p>
			</article>
		</div>
	{% endfor %}
	</div>
	<div class="page_navigation"></div>
</section>
</div>
<div id="footer">NEWS WORLD</div>
<div id="footer-sites">
. 
{% for site in sites %}
<a target="_blank" href="{{site.site}}">{{site.name}}</a> . 
{% endfor %}

{% endblock %}

{% block js %}
	
var delay = (function(){
  var timer = 0;
  return function(callback, ms){
    clearTimeout (timer);
    timer = setTimeout(callback, ms);
  };
})();

$(document).ready(function(){
	$('#article-details').pajinate();
	var min_date = new Date({{min_date.year}},{{min_date.month|add:"-1"}},{{min_date.day}});
    var default_min_date = new Date({{default_min_date.year}},{{default_min_date.month|add:"-1"}},{{default_min_date.day}});
	init(min_date, default_min_date, '/data{{request.path}}', '{{request.user.is_staff}}' == 'True', '{{request.path}}');
});	

{% endblock %}