{% extends "base.html" %}

{% block head %}
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}scripts/jquery.progressbar.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/read.css" />
{% endblock %}

{% block content %}

<div class="read-results" id="read-results">
  <a name="section_top"></a>
  <fieldset>
  	<legend>Latest News</legend>
    <div id="tabs">
			<ul>
			<li class="tabs-news"><a href="#tabs-news">Local News</a></li>
			<li class="tabs-finance"><a href="#tabs-finance">Financial</a></li>
			<li class="tabs-sports"><a href="#tabs-sports">Sports</a></li>
			<li class="tabs-entertainment"><a href="#tabs-entertainment">Entertainment</a></li>
			</ul>

			<div id="tabs-news">
					<div class="tabs-container">
					{% for n in news %}
					{%	include "article_block.html" with article=n section_index=1 %}
					{% endfor %}

					{% include "read_more_block.html" with section_index=1 %}
					</div>
					{% include "featured_articles.html" with keywords=featuredNews section_index=1 %}
			</div>

			<div id="tabs-finance">
				<div class="tabs-container">
				{% for n in finance %}
				{% include "article_block.html" with article=n section_index=3 %}
				{% endfor %}

				{% include "read_more_block.html" with section_index=3 %}
				</div>
				{% include "featured_articles.html" with keywords=featuredFinance section_index=3 %}
			</div>

			<div id="tabs-sports">
				<div class="tabs-container">
				{% for n in sports %}
				{% include "article_block.html" with article=n section_index=2 %}
				{% endfor %}
				
				{% include "read_more_block.html" with section_index=2 %}
				</div>
				{% include "featured_articles.html" with keywords=featuredSports section_index=2 %}
			</div>

			<div id="tabs-entertainment">
				<div class="tabs-container">
				{% for n in entertainment %}
				{% include "article_block.html" with article=n section_index=4 %}
				{% endfor %}
				
				{% include "read_more_block.html" with section_index=4 %}
				</div>
				{% include "featured_articles.html" with keywords=featuredEntertainment section_index=4 %}
			</div>
    </div>
  </fieldset>
</div>
<div class="read-results" id="read-related" style="display:none">
	<div style="margin-bottom: -10px">
		<a id="read-related-close" href="#">Close</a>
		<div style="display:inline" class="related-article-title">
	 	&nbsp;- articles related to <em>"<div style="display:inline"  id="read-related-title"></div>"</em>
		</div>
	</div>
	<fieldset style="border-top: none;"><div class="ui-tabs"></div>
	</fieldset>
</div>
{% endblock %}

{% block js %}

function view_related(link){
	var target = $('#read-related .ui-tabs').html('')
	$.get(link.attr('href'), function(data) {
		$('#read-related-title').html(data.article.title);
		var keys = $('<div/>');
		$.each(data.article.keywords,function(i,value){
			keys.append('<div class="related-article-keyword">'+value+'</div>')
		});

		var artilce_image_url = data.article.image_url != '' ? data.article.image_url : '/static/images/news.png';
		var image_tag = artilce_image_url != '' ? '<img src="'+artilce_image_url+'" width="64px"/>' : '';

		target.append('<div id="related-article" class="related-article-panel" tabindex="100"><article>'+
			'<a target="_blank" href="'+data.article.link+'"><span>'+data.article.title+'</span></a>'+
			image_tag +
			'<article-content>'+data.article.content+'</article-content>'+
			'<article-footer>'+data.article.date+' | '+
			'<a target="_blank" href="'+data.article.link+'">'+data.article.source+'</a>'+
			'</article-footer></article></div>');
		target.append('<div style="margin-bottom: 5px;" class="related-article-panel"><article>'+
			'<strong>Keywords:</strong> '+keys.html()+
			'</article></div>');
		$.each(data.articles, function(i, value){
			var matched_keys = $('<div/>');
			$.each(value.matched,function(i,value){
				matched_keys.append('<div class="matched-keyword">'+value+'</div>')
			});
			target.append('<div class="related-article-panel"><article>'+
			'<a target="_blank" href="'+value.link+'"><span>'+value.title+'</span></a>'+
			'<article-content>'+value.content+'</article-content>'+
			'<article-footer>'+value.date+' | '+
			'<a target="_blank" href="'+value.link+'">'+value.source+'</a><br/>'+
			'<div class="rank">'+value.rankp+'%</div>'+
			matched_keys.html()+
			'</article-footer></article></div>');
			});
		target.find('.rank')
			  .each(function(){
			  	$(this).progressBar({boxImage:'/static/images/progressbar.gif',
							barImage: {
								0:  '/static/images/progressbg_red.gif',
								40: '/static/images/progressbg_orange.gif',
								70: '/static/images/progressbg_green.gif'
							},
							showText: false,
						  });});
		$('#read-results').fadeOut(300, function(){
			$('#read-related').fadeIn(500, function(){
				$.scrollTo('#read-related-close');
			});
		});
	});
}
	
$(document).ready(function(){
	$('#tabs').tabs();

	$('article.news-cat label').click(function(){
		$('li.tabs-news a').click();
	});
	$('article.sports-cat label').click(function(){
		$('li.tabs-sports a').click();
	});
	$('article.entertainment-cat label').click(function(){
		$('li.tabs-entertainment a').click();
	});
	$('article.finance-cat label').click(function(){
		$('li.tabs-finance a').click();
	});
		
	$('#tabs ul li').hover(
	   function(){ $(this).stop(true).addClass('hover', 100) },
	   function(){ $(this).stop(true).removeClass('hover', 100) }
	);
	
	$('#tabs').on('click', 'a.view-related', function(event) {
	    event.preventDefault();
	    view_related($(this));
	});

	$('#read-related-close').click(function(event){
		event.preventDefault();
		$('#read-related').fadeOut(300, function(){
			$('#read-results').fadeIn(500);
		});
	});	
	$('.read-more a').click(function(event){
		event.preventDefault();
		var href = $(this).attr('href');
		var target = $(this).parent().parent().find('#read-more');

		var _ = $(this);
		target.append('<a href="#section_top">Back to top</a><div class="read-more-spacer"></div>');
		$.get(href, function(data) {
			$.each(data.articles, function(i, value){
				var artilce_image_url = value.image_url;
				var image_tag = artilce_image_url != '' ? '<img src="'+artilce_image_url+'" width="64px"/>' : '';

				target.append('<div id="tabs-news" class="ui-tabs-panel"><article>'+
				'<a target="_blank" href="/related/'+_.attr('cat')+'/'+value.id+'/"><span>'+value.title+'</span></a>'+
				image_tag +
				'<article-content>'+value.content+'</article-content>'+
				'<article-footer>'+value.date+' | '+
				'<a target="_blank" href="'+value.link+'">'+value.source+'</a>'+
				'<br style="clear:both"/>'+
				'</article-footer></article></div>');
				});
			if(data.has_next){
				_.attr('href','/more/'+_.attr('cat')+'/?page='+data.next_page);
			}
		});
	});
});	

{% endblock %}