{% for article in articles %}
<div class="media article">
  <a class="pull-left" target="_blank" href="{{article.link}}">
    {% if article.image_url %}
    <img src="{{article.image_url}}" width="64px"/>
    {% else %}
    <img src="{{STATIC_URL}}images/news2.png" width="64px"/>
    {%endif%}
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{article.title}}</h4>
    {{article.content}}

    <div class="article-footer">
        {{article.date|timesince}} ago |
        <a target="_blank" href="{{article.link}}">{{article.source}}</a>
    </div>
  </div>
</div>
{% endfor %}
