{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/read.css" />

<style>
article h1{
	font-size: 1.2em;
	font-style: normal;
	font-weight: bold;
	display: block;
	padding: 2px 2px 5px 2px;
	margin: 0;
}
	
#read-latest article label{
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
	position: relative;
	z-index: 20;
	display: block;
	cursor: pointer;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	font-weight: bold;
	font-size: 1.1em;
}
	
#read-latest article.news-cat label,
.tabs-news{
	background: #367fc2;
	background: -moz-linear-gradient(top, #367fc2 1%, #26417b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#367fc2), color-stop(100%,#26417b));
	background: -webkit-linear-gradient(top, #367fc2 1%,#26417b 100%);
	background: -o-linear-gradient(top, #367fc2 1%,#26417b 100%);
	background: -ms-linear-gradient(top, #367fc2 1%,#26417b 100%);
	background: linear-gradient(top, #367fc2 1%,#26417b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#367fc2', endColorstr='#26417b',GradientType=0 );
}
		
#read-latest article.entertainment-cat label,
.tabs-entertainment{
	background: #e83325;
	background: -moz-linear-gradient(top, #e83325 1%, #760d06 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e83325), color-stop(100%,#760d06));
	background: -webkit-linear-gradient(top, #e83325 1%,#760d06 100%);
	background: -o-linear-gradient(top, #e83325 1%,#760d06 100%);
	background: -ms-linear-gradient(top, #e83325 1%,#760d06 100%);
	background: linear-gradient(top, #e83325 1%,#760d06 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83325', endColorstr='#760d06',GradientType=0 );
}

#tabs li a{
	width: 108px;
	display: block;
}
	
#read-latest article.sports-cat label,
#tabs li.tabs-sports a, 
#tabs li.tabs-sports a:link, 
#tabs li.tabs-sports a:visited {
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	color: #333;
}
	
#read-latest article.sports-cat label{
	border-bottom: 1px solid #ccc;
}
	
#read-latest article.sports-cat label,
.tabs-sports{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
}
	
#read-latest article.finance-cat label,
.tabs-finance{
	background: #21ba1a;
	background: -moz-linear-gradient(top, #21ba1a 1%, #116d0c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#21ba1a), color-stop(100%,#116d0c));
	background: -webkit-linear-gradient(top, #21ba1a 1%,#116d0c 100%);
	background: -o-linear-gradient(top, #21ba1a 1%,#116d0c 100%);
	background: -ms-linear-gradient(top, #21ba1a 1%,#116d0c 100%);
	background: linear-gradient(top, #21ba1a 1%,#116d0c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21ba1a', endColorstr='#116d0c',GradientType=0 );
}
	
.ui-tabs{
	padding: 5px;
}
	
.ui-tabs .ui-tabs-hide{
	display: none;
}
		
.ui-tabs .ui-tabs-nav li{
	text-transform: uppercase;
	display: block;
	float: left;
	padding: 5px;
	margin-right: 2px;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	color: #e1e1f8;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	position: relative;
	border-radius: 10px 10px 0 0;
	top: 6px;
}
	
.ui-tabs .ui-tabs-nav .ui-tabs-selected{
	border-bottom: 4px double #fff;
	top: 0;
}
	
.ui-tabs .ui-tabs-nav .tabs-sports.ui-tabs-selected{
	border-bottom: 4px double #ccc;
}
	
.ui-tabs .ui-tabs-panel{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #ebeef3 url(/static/images/bgnoise_lg.jpg);
	position: relative;
}

.ui-tabs .first-article{
	border-top: 1px solid #ccc;
}
	
</style>
{% endblock %}

{% block content %}
<div id="container">
<div id="cat-nav">
	<a href="http://newsworld.co.za" id="cat-news">News</a>
	<a href="http://finance.newsworld.co.za" id="cat-finance">Financial</a>
	<a href="http://sports.newsworld.co.za" id="cat-sports">Sports</a>
	<a href="http://entertainment.newsworld.co.za" id="cat-entertainment">Entertainment</a>
	{% if request.user.is_authenticated %}
	 <a href="{% url logout %}" id="logout">Sign Out</a>
	{% else %}
	 <a href="/admin/?next={{request.path}}" id="login">Sign In</a>
	{% endif %}
</div>

<div id="browse-search">
	<div id="search-string">
		Just Read!
	</div>
	<div id="search-form">
	<form action="{% url search %}">
	<input type="search" name="q" id="filter" results=5 autosave=save_key autofocus placeholder="Search..." value="{{q}}"/>
	<input type="submit" id="search" value="Search"/>
	</form>
	</div>
</div>

<div id="read-latest">
  <fieldset>
    <legend>Latest News</legend>
	{% with n=news.0 %}
	<article class="news-cat">
		<label>Local News</label>
		<article-content>
		<h1><a target="_blank" href="{{n.link}}">{{n.title}}</a></h1>
		{{n.content}}
		</article-content>
		<article-footer>
			{{n.date|date:"D, d M H:m"}}<br/>
			<a target="_blank" href="{{n.link}}">{{n.source}}</a>
		</article-footer>
	</article>
	{% endwith %}
	{% with n=finance.0 %}
	<article class="finance-cat">
		<label>Financial</label>
		<article-content>
		<h1><a target="_blank" href="{{n.link}}">{{n.title}}</a></h1>
		{{n.content}}
		</article-content>
		<article-footer>
			{{n.date|date:"D, d M H:m"}}<br/>
			<a target="_blank" href="{{n.link}}">{{n.source}}</a>
		</article-footer>
	</article>
	{% endwith %}
	{% with n=sports.0 %}
	<article class="sports-cat">
		<label>Sports</label>
		<article-content>
		<h1><a target="_blank" href="{{n.link}}">{{n.title}}</a></h1>
		{{n.content}}
		</article-content>
		<article-footer>
			{{n.date|date:"D, d M H:m"}}<br/>
			<a target="_blank" href="{{n.link}}">{{n.source}}</a>
		</article-footer>
	</article>
	{% endwith %}
	{% with n=entertainment.0 %}
	<article class="entertainment-cat">
		<label>Entertainment</label>
		<article-content>
		<h1><a target="_blank" href="{{n.link}}">{{n.title}}</a></h1>
		{{n.content}}
		</article-content>
		<article-footer>
			{{n.date|date:"D, d M H:m"}}<br/>
			<a target="_blank" href="{{n.link}}">{{n.source}}</a>
		</article-footer>
	</article>
	{% endwith %}
  </fieldset>
</div>

<div id="read-results">
  <fieldset><legend> By section</legend>
    <div id="tabs">
			<ul>
			<li class="tabs-news"><a href="#tabs-news">Local News</a></li>
			<li class="tabs-finance"><a href="#tabs-finance">Financial</a></li>
			<li class="tabs-sports"><a href="#tabs-sports">Sports</a></li>
			<li class="tabs-entertainment"><a href="#tabs-entertainment">Entertainment</a></li>
			</ul>
			{% for n in news %}
			<div id="tabs-news" {% if forloop.first %}class="first-article"{% endif %}>
			<article>
				<a target="_blank" href="{{n.link}}"><span>{{n.title}}</span></a>
				<article-content>{{n.content}}</article-content>
				<article-footer>
					{{n.date|date:"D, d M H:m"}} | 
					<a target="_blank" href="{{n.link}}">{{n.source}}</a>
				</article-footer>
			</article>
			</div>
			{% endfor %}

			{% for n in finance %}
			<div id="tabs-finance" {% if forloop.first %}class="first-article"{% endif %}>
			<article>
				<a target="_blank" href="{{n.link}}"><span>{{n.title}}</span></a>
				<article-content>{{n.content}}</article-content>
				<article-footer>
					{{n.date|date:"D, d M H:m"}} | 
					<a target="_blank" href="{{n.link}}">{{n.source}}</a>
				</article-footer>
			</article>
			</div>
			{% endfor %}

			{% for n in sports %}
			<div id="tabs-sports" {% if forloop.first %}class="first-article"{% endif %}>
			<article>
				<a target="_blank" href="{{n.link}}"><span>{{n.title}}</span></a>
				<article-content>{{n.content}}</article-content>
				<article-footer>
					{{n.date|date:"D, d M H:m"}} | 
					<a target="_blank" href="{{n.link}}">{{n.source}}</a>
				</article-footer>
			</article>
			</div>
			{% endfor %}

			{% for n in entertainment %}
			<div id="tabs-entertainment" {% if forloop.first %}class="first-article"{% endif %}>
			<article>
				<a target="_blank" href="{{n.link}}"><span>{{n.title}}</span></a>
				<article-content>{{n.content}}</article-content>
				<article-footer>
					{{n.date|date:"D, d M H:m"}} | 
					<a target="_blank" href="{{n.link}}">{{n.source}}</a>
				</article-footer>
			</article>
			</div>
			{% endfor %}
    </div>
  </fieldset>
</div>

</div>
<div id="footer">NEWS WORLD</div>
<div id="footer-sites">
. 
{% for site in sites %}
<a target="_blank" href="{{site.site}}">{{site.name}}</a> . 
{% endfor %}
</div>

{% endblock %}

{% block js %}
	
$(document).ready(function(){
	$('#tabs').tabs();
	$('article.news-cat label').click(function(){
		$('li.tabs-news a').click();
	});
	$('article.sports-cat label').click(function(){
		$('li.tabs-sports a').click();
	});
	$('article.entertainment-cat label').click(function(){
		$('li.tabs-entertainment a').click();
	});
	$('article.finance-cat label').click(function(){
		$('li.tabs-finance a').click();
	});
});	

{% endblock %}