{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/read.css" />
{% endblock %}

{% block content %}
<div id="container">
<div id="browse-search">
	<div id="search-string">
		<fieldset>
			<legend>Analyse keywords</legend>
			<a href="{% url news %}">News</a>
			<a href="{% url finance %}">Financial</a>
			<a href="{% url sports %}">Sports</a>
			<a href="{% url entertainment %}">Entertainment</a>
		</fieldset>
	</div>
	<div id="search-form">
	<form action="{% url search %}">
	<input type="search" name="q" id="filter" results=5 autosave=save_key autofocus placeholder="Search..." value="{{q}}"/>
	<input type="submit" id="search" value="Search"/>
	</form>
	</div>
</div>

<div id="read-latest">
  <fieldset>
    <legend>Latest News</legend>
	{% with n=news.0 %}
	<article class="news-cat">
		<label>Local News</label>
		<article-content>
		<h1><a target="_blank" href="{{n.link}}">{{n.title}}</a></h1>
		{{n.content}}
		</article-content>
		<article-footer>
			{{n.date|date:"D, d M H:m"}}<br/>
			<a target="_blank" href="{{n.link}}">{{n.source}}</a>
		</article-footer>
	</article>
	{% endwith %}
	{% with n=finance.0 %}
	<article class="finance-cat">
		<label>Financial</label>
		<article-content>
		<h1><a target="_blank" href="{{n.link}}">{{n.title}}</a></h1>
		{{n.content}}
		</article-content>
		<article-footer>
			{{n.date|date:"D, d M H:m"}}<br/>
			<a target="_blank" href="{{n.link}}">{{n.source}}</a>
		</article-footer>
	</article>
	{% endwith %}
	{% with n=sports.0 %}
	<article class="sports-cat">
		<label>Sports</label>
		<article-content>
		<h1><a target="_blank" href="{{n.link}}">{{n.title}}</a></h1>
		{{n.content}}
		</article-content>
		<article-footer>
			{{n.date|date:"D, d M H:m"}}<br/>
			<a target="_blank" href="{{n.link}}">{{n.source}}</a>
		</article-footer>
	</article>
	{% endwith %}
	{% with n=entertainment.0 %}
	<article class="entertainment-cat">
		<label>Entertainment</label>
		<article-content>
		<h1><a target="_blank" href="{{n.link}}">{{n.title}}</a></h1>
		{{n.content}}
		</article-content>
		<article-footer>
			{{n.date|date:"D, d M H:m"}}<br/>
			<a target="_blank" href="{{n.link}}">{{n.source}}</a>
		</article-footer>
	</article>
	{% endwith %}
  </fieldset>
</div>

<div class="read-results" id="read-results">
  <a name="section_top"></a>
  <fieldset style="border-top: none;">
  	<!-- <legend> More</legend> -->
    <div id="tabs">
			<ul>
			<li class="tabs-news"><a href="#tabs-news">Local News</a></li>
			<li class="tabs-finance"><a href="#tabs-finance">Financial</a></li>
			<li class="tabs-sports"><a href="#tabs-sports">Sports</a></li>
			<li class="tabs-entertainment"><a href="#tabs-entertainment">Entertainment</a></li>
			</ul>
			{% for n in news %}
			<div id="tabs-news" {% if forloop.first %}class="first-article"{% endif %}>
			<article>
				<a target="_blank" href="{{n.link}}"><span>{{n.title}}</span></a>
				<article-content>{{n.content}}</article-content>
				<article-footer>
					{{n.date|date:"D, d M H:m"}} | 
					<a target="_blank" href="{{n.link}}">{{n.source}}</a>
					{% if n.keywords.exists %}
					<br/><a class="view-related" href="{% url related_news n.pk %}">View Similar</a>
					{% endif %}
				</article-footer>
			</article>
			</div>
			{% endfor %}
			<div id="tabs-news" class="read-more-cont">
			<div id="read-more"></div>
			<a href="#section_top">Back to top</a>
			<div class="read-more">
				<a href="{% url read_more 1 %}?page=2" cat=1><span>more...</span></a>
			</div>
			</div>

			{% for n in finance %}
			<div id="tabs-finance" {% if forloop.first %}class="first-article"{% endif %}>
			<article>
				<a target="_blank" href="{{n.link}}"><span>{{n.title}}</span></a>
				<article-content>{{n.content}}</article-content>
				<article-footer>
					{{n.date|date:"D, d M H:m"}} | 
					<a target="_blank" href="{{n.link}}">{{n.source}}</a>
					{% if n.keywords.exists %}
					<br/><a class="view-related" href="{% url related_finance n.pk %}">View Similar</a>
					{% endif %}
				</article-footer>
			</article>
			</div>
			{% endfor %}
			<div id="tabs-finance" class="read-more-cont">
			<div id="read-more"></div>
			<a href="#section_top">Back to top</a>
			<div class="read-more">
				<a href="{% url read_more 3 %}?page=2" cat=3><span>more...</span></a>
			</div>
			</div>

			{% for n in sports %}
			<div id="tabs-sports" {% if forloop.first %}class="first-article"{% endif %}>
			<article>
				<a target="_blank" href="{{n.link}}"><span>{{n.title}}</span></a>
				<article-content>{{n.content}}</article-content>
				<article-footer>
					{{n.date|date:"D, d M H:m"}} | 
					<a target="_blank" href="{{n.link}}">{{n.source}}</a>
					{% if n.keywords.exists %}
					<br/><a class="view-related" href="{% url related_sports n.pk %}">View Similar</a>
					{% endif %}
				</article-footer>
			</article>
			</div>
			{% endfor %}
			<div id="tabs-sports" class="read-more-cont">
			<div id="read-more"></div>
			<a href="#section_top">Back to top</a>
			<div class="read-more">
				<a href="{% url read_more 2 %}?page=2" cat=2><span>more...</span></a>
			</div>
			</div>

			{% for n in entertainment %}
			<div id="tabs-entertainment" {% if forloop.first %}class="first-article"{% endif %}>
			<article>
				<a target="_blank" href="{{n.link}}"><span>{{n.title}}</span></a>
				<article-content>{{n.content}}</article-content>
				<article-footer>
					{{n.date|date:"D, d M H:m"}} | 
					<a target="_blank" href="{{n.link}}">{{n.source}}</a>
					{% if n.keywords.exists %}
					<br/><a class="view-related" href="{% url related_entertainment n.pk %}">View Similar</a>
					{% endif %}
				</article-footer>
			</article>
			</div>
			{% endfor %}
			<div id="tabs-entertainment" class="read-more-cont">
			<div id="read-more"></div>
			<a href="#section_top">Back to top</a>
			<div class="read-more">
				<a href="{% url read_more 4 %}?page=2" cat=4><span>more...</span></a>
			</div>
			</div>
    </div>
  </fieldset>
</div>
<div class="read-results" id="read-related" style="display:none">
	<div style="margin-bottom: -10px">
		<a id="read-related-close" href="#">Close</a>
		<div style="display:inline" class="related-article-title">
	 	&nbsp;- articles related to <em>"<div style="display:inline"  id="read-related-title"></div>"</em>
		</div>
	</div>
	<fieldset style="border-top: none;"><div class="ui-tabs"></div>
	</fieldset>
</div>
<div id="footer">NEWS WORLD</div>
<div id="footer-sites">
. 
{% for site in sites %}
<a target="_blank" href="{{site.site}}">{{site.name}}</a> . 
{% endfor %}
</div>

{% endblock %}

{% block js %}

function view_related(link){
	var target = $('#read-related .ui-tabs').html('')
	$.get(link.attr('href'), function(data) {
		$('#read-related-title').html(data.article.title);
		target.append('<div id="related-article" class="ui-tabs-panel" tabindex="100"><article>'+
			'<a target="_blank" href="'+data.article.link+'"><span>'+data.article.title+'</span></a>'+
			'<article-content>'+data.article.content+'</article-content>'+
			'<article-footer>'+data.article.date+' | '+
			'<a target="_blank" href="'+data.article.link+'">'+data.article.source+'</a>'+
			'</article-footer></article></div>');
		target.append('<div style="margin-bottom: 5px;" class="ui-tabs-panel"><article>'+
			'<article-content><strong>Keywords:</strong> '+data.article.keywords+'</article-content>'+
			'</article></div>');
		$.each(data.articles, function(i, value){
			target.append('<div class="ui-tabs-panel"><article>'+
			'<a target="_blank" href="'+value.link+'"><span>'+value.title+'</span></a>'+
			'<article-content>'+value.content+'</article-content>'+
			'<article-footer>'+value.date+' | '+
			'<a target="_blank" href="'+value.link+'">'+value.source+'</a>'+
			'</article-footer></article></div>');
			});
		$('#read-results').fadeOut(300, function(){
			$('#read-related').fadeIn(500, function(){
				$.scrollTo('#read-related-close');
			});
		});
	});
}
	
$(document).ready(function(){
	$('#tabs').tabs();
	$('article.news-cat label').click(function(){
		$('li.tabs-news a').click();
	});
	$('article.sports-cat label').click(function(){
		$('li.tabs-sports a').click();
	});
	$('article.entertainment-cat label').click(function(){
		$('li.tabs-entertainment a').click();
	});
	$('article.finance-cat label').click(function(){
		$('li.tabs-finance a').click();
	});
		
	$('#tabs ul li').hover(
	   function(){ $(this).stop(true).addClass('hover', 100) },
	   function(){ $(this).stop(true).removeClass('hover', 100) }
	);
	
	$('a.view-related').click(function(event){
		event.preventDefault();
		view_related($(this));
	});	

	$('#read-related-close').click(function(event){
		event.preventDefault();
		$('#read-related').fadeOut(300, function(){
			$('#read-results').fadeIn(500);
		});
	});	
	$('.read-more a').click(function(event){
		event.preventDefault();
		var href = $(this).attr('href');
		var target = $(this).parent().parent().find('#read-more');
		var _ = $(this);
		target.append('<a href="#section_top">Back to top</a><div class="read-more-spacer"></div>');
		$.get(href, function(data) {
			$.each(data.articles, function(i, value){
				target.append('<div id="tabs-news" class="ui-tabs-panel"><article>'+
				'<a target="_blank" href="'+value.link+'"><span>'+value.title+'</span></a>'+
				'<article-content>'+value.content+'</article-content>'+
				'<article-footer>'+value.date+' | '+
				'<a target="_blank" href="'+value.link+'">'+value.source+'</a>'+
				'</article-footer></article></div>');
				});
			if(data.has_next){
				_.attr('href','/more/'+_.attr('cat')+'/?page='+data.next_page);
			}
		});
	});
});	

{% endblock %}