<div class="article {% if forloop.first %} first-article{% endif %}">
    {% if article.image_url %}
    <img src="{{article.image_url}}" width="64px"/>
    {% else %}
    <img src="{{STATIC_URL}}images/news2.png" width="64px"/>
    {%endif%}
    <div class="article-content">
        <span><a href="{{article.link}}">{{article.title}}</a></span>
        <br/>
        {{article.content}}
        <br/>
        <div class="article-footer">
            {{article.date}} |
            <a href="{{article.link}}">{{article.source}}</a>
        </div>
    </div>
    <br style="clear:both"/>
</div>
